.photo-block {
    position: relative;
    width: 100%;
    max-width: 564px;
    aspect-ratio: 1;
    overflow: hidden;

    .photo-overlay {
        position: relative;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            opacity: 0;
            transition: opacity 0.3s ease;
            color: white;

            .overlay-icons {

                .icon-eye {
                    cursor: pointer;
                    top: 45%;
                    right: 45%;
                    position: absolute;
                }

                .icon-fullscreen {
                    cursor: pointer;
                    top: 5%;
                    right: 5%;
                    position: absolute;
                }
            }
            
            .overlay-info {
                font-family: $font-primary;

                .reference {
                    position: absolute;
                    bottom: 5%;
                    left: 5%;
                }

                .categorie {
                    position: absolute;
                    bottom: 5%;
                    right: 5%;
                }
            }
        }

        &:hover .overlay {
            opacity: 1;
        }
    }
}